[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioredis = "*"
amqp = "*"
asgiref = "*"
async-timeout = "*"
attrs = "*"
autobahn = "*"
automat = "*"
billiard = "*"
boto3 = "*"
botocore = "*"
cachetools = "*"
celery = "*"
certifi = "*"
cffi = "*"
channels = "*"
channels-redis = "*"
charset-normalizer = "*"
click = "*"
constantly = "*"
cryptography = "*"
daphne = "*"
defusedxml = "*"
diff-match-patch = "*"
django = "*"
django-extensions = "*"
django-admin-rangefilter = "*"
django-celery-beat = "*"
django-import-export = "*"
django-js-asset = "*"
django-mptt = "*"
django-phone-field = "*"
django-timezone-field = "*"
djangorestframework = "*"
djangorestframework-camel-case = "*"
djangorestframework-simplejwt = "*"
et-xmlfile = "*"
google-api-core = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
googleapis-common-protos = "*"
gunicorn = "*"
h11 = "*"
hiredis = "*"
httplib2 = "*"
httptools = "*"
hyperlink = "*"
idna = "*"
incremental = "*"
jmespath = "*"
kombu = "*"
markuppy = "*"
mixpanel = "*"
msgpack = "*"
oauthlib = "*"
odfpy = "*"
openpyxl = "*"
protobuf = "*"
psycopg2-binary = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
pyjwt = "*"
pyopenssl = "*"
pyparsing = "*"
python-crontab = "*"
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
s3transfer = "*"
sentry-sdk = "*"
sendgrid = "*"
service-identity = "*"
six = "*"
sqlparse = "*"
tablib = "*"
twisted = "*"
txaio = "*"
typing-extensions = "*"
uritemplate = "*"
urllib3 = "*"
uvicorn = "*"
uvloop = "*"
vine = "*"
watchgod = "*"
websockets = "*"
"zope.interface" = "*"
django-cors-headers = "*"
gevent = "*"
whitenoise = "*"
slack-sdk = "*"
drf-spectacular = "*"
django-storages = "*"
pillow = "*"
beautifulsoup4 = "*"
geoip2 = "*"
pycountry = "*"
phonenumbers = "*"
django-ipware = "*"
django-dbbackup = "*"
djangorestframework-api-key = "*"
django-redis = "*"
dj-stripe = "*"
stripe = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.11"
